@import url('https://fonts.googleapis.com/css?family=Anaheim|Roboto+Mono');
#get-user {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.App {
    text-align: center;
}

.gitHub-logo {
    /* animation: App-logo-spin infinite 20s linear; */
    background-color: black;
    color: white;
    height: 80px;
}

.gitHub-logo i {
    font-size: 5em;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.link {
    text-decoration: none;
}

.block__separation {
    margin-top: 20px;
    margin-bottom: 10px;
}

.fa-search {
    position: absolute;
    right: 15px;
    top: 0;
    font-size: 1em;
}

.avatar-round {
    border: 5px solid rgb(60, 60, 60);
    border-radius: 50%;
}

p {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}

.info-tag {
    font-family: 'Roboto Mono', monospace;
    color: #ff6666;
}

.info-data {
    font-family: 'Anaheim', sans-serif;
}